<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Venue Not Check Fail</title>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/appcss/mianCSS.css"/>
</head>
<body>


<div class="container register-form">
    <div class="jumbotron">
        <h2 style="align-items: center">您的号还未审核通过！请等待管理员审核成功后再次登录！</h2>
        <h3 style="align-items: center;color: red">如在申请48小时之后您的号还没有审核成功说明您申请失败，请重新注册！</h3>

        <p><a class="btn btn-success btn-lg" href="/venues" role="button">返回主页</a></p>
    </div>
</div>


</body>
</html>