body{
    min-width: 1300px;
    max-width: 100%;
    background-color: #F8F8F8;
    -webkit-font-smoothing: antialiased;
    font-family: "-apple-system",BlinkMacSystemFont,Roboto,"Helvetica Neue","MIcrosoft YaHei",sans-serif!important;
}
.navbar-Favorite{
    width: 100%;
    /*background-color: white;*/
}

.showInfoBody{
    min-width: 1200px;
    max-width: 100%;
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 20px;
    background-color: white;
}


.showInfoLeftMenu{
    float: left;
    background: #FFF;
    border: 1px solid #E5E5E5;
    border-radius: 4px;
    width: 230px;
    padding-bottom: 20px;
    min-height: 800px;
}

.link-group{
    font-size: 16px;
    /*color: #f8f8f8;*/
    margin: 20px 20px 0 20px;
    color: #666;
}

.title{
    margin-top: 12px;
    margin-right: 0px;
    margin-bottom: 12px;
    margin-left: 0px;
    /*height: 2em;*/
    font-size: 1.3em;
}

.link-url{
    display: block;
    list-style-type: disc;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}

.orderInfoLi{
    color: #666;
    list-style-type: none;
    list-style-position: initial;
    list-style-image: initial;
    margin-top: 15px;
    margin-right: 0px;
    margin-bottom: 15px;
    margin-left: 0px;
    padding: 0px;
    display: list-item;
    text-align: -webkit-match-parent;
}



.menuB{
    color: #666;
}

a:hover,
a:active{
    outline: none;
    text-decoration: none;
    color: #2F96B4;
}

/*a:visited{*/
    /*color: #2F96B4;*/
/*}*/

.menuA{
    height: 3em;
    color: #030303;
}


.orderMenuBlank{
    float: left;
    background-color: transparent;
    width: 30px;
}

.showInfoPresentation{
    float: left;
    min-width: 950px;
    background-color: white;
    margin-left: 40px;
    min-height: 800px;
    border: 1px solid #E5E5E5;
    border-radius: 4px;
    padding-left: 30px;
    padding-right: 30px;
}

.favoriteMenu{
    padding-top: 30px;
    /*padding-left: 60px;*/
    padding-bottom: 0px;
    border-bottom: 2px solid #E5E5E5;
    font-size: 1.4em;
}

.favoriteMenuTitleBorder{
    font-weight: 500;
    text-align: center;
    align-items: center;
    padding-right: 20px;

}

.favoriteMenuTitle{
    background-color: transparent;
    border: none;
    outline: none;
    font-weight: 500;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom:35px;
    color: black;
    height: 30px;
    /*border-bottom: 2px solid #31BBAC;*/
}
.favoriteMenuTitleActive{
    background-color: transparent;
    border: none;
    outline: none;
    font-weight: 500;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom:35px;
    color: black;
    height: 30px;
    border-bottom: 2px solid #31BBAC;
}

.favoriteShowBorder{
    padding-top: 10px;
    height: 200px;
    border-bottom: 2px solid #E5E5E5;
}

.favoriteShow{
    height: 180px;
    /*border: 2px solid red;*/
    /*border-top: 2px solid red;*/
    /*border-bottom: 2px solid red;*/
}

.favoriteShow .row{
    margin-right: -65px;
    margin-left: -15px
}

.showDetail{
    margin-left: -65px;
}

.favoriteOption{
    text-align: right;
    padding-top: 80px;
    /*border:2px solid yellow ;*/
}

.favoriteOptionDetail{
    /*padding-right: 20px;*/
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 20px;
    padding-left: 20px;
    border-radius: 35px;
    border: 1px solid #E5E5E5;
}
.favoriteOption2{
    text-align: right;
    padding-top: 78px;
    /*border:2px solid yellow ;*/
}