body{
    background-color: #f8f8f8;
}
.container {
    width: 1200px;
    margin: 0 auto;
}
.count-down-wrapper {
    width: 100%;
    height: 90px;
    padding-top: 20px;
    margin-bottom: 40px;
    background-color: #fff3f3;
}
.count-down-wrapper .count-down {
    padding-left: 55px;
    min-height: 41px;
    margin-left: 30px;
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACMAAAApCAYAAAC/QpA/AAAAAXNSR…58bhbU896fKwL63WBs8sW1I/bcYX87ldqOaZUtWrvixO+8CTchtZNySYUQAAAAAElFTkSuQmCC) no-repeat;
    background-position: 0 17px;
}
.count-down-wrapper .time-left {
    font-size: 16px;
    color: #666;
    margin-bottom: 4px;
}
.count-down-wrapper .tip {
    font-size: 14px;
    color: #f03d37;
}
.warning {
    font-size: 12px;
    color: #666;
    padding-left: 18px;
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAyCAYAAAAeP4ixAAAAAXNSR…5gXgFp+z0kp3W8f93OJb+OnbmOnbo6t4T/eIYPRW2ce5X/C3wonn0uNoJvAAAAAElFTkSuQmCC) no-repeat;
    background-size: 12px;
    background-position-y: 2px;
    margin-bottom: 8px;
}
.order-table thead {
    background-color: #ecebeb;
}
thead {
    display: table-header-group;
    vertical-align: middle;
    border-color: inherit;
}
table {
    display: table;
    border-collapse: separate;
    border-spacing: 2px;
    border-color: grey;
}
th {
    font-weight: bold;
    text-align: -internal-center;
}

td, th {
    display: table-cell;
    vertical-align: inherit;
}
.order-table {
    width: 100%;
    border: 1px solid #e5e5e5;
    border-spacing: 0;
    margin-bottom: 60px;
}

.order-table thead th {
    font-size: 16px;
    color: #333;
    width: 25%;
    padding: 14px 0;
    font-weight: 400;
}
.order-table td {
    text-align: left;
    padding: 20px 0;
    color: #333;
}
.order-table .showtime {
    font-size: 14px;
    color: #f03d37;
}
.order-table .cinema-name {
    font-size: 14px;
}
.order-table .hall {
    display: inline-block;
    font-size: 14px;
    color: #424242;
    font-weight: 700;
    margin-right: 10px;
    vertical-align: top;
}
.order-table .seats {
    display: inline-block;
    text-align: left;
}
.right {
    text-align: right;
}

.right .price-wrapper {
    font-size: 14px;
    color: #333;
    margin-bottom: 17px;
}
.right .price-wrapper .price {
    font-size: 36px;
    color: #f03d37;
}
.btn, .pay-btn {
    cursor: pointer;
    display: inline-block;
    width: 190px;
    height: 42px;
    line-height: 42px;
    text-align: center;
    color: #fff;
    background-color: #f03d37;
    border-radius: 100px;
    -webkit-box-shadow: 0 2px 10px -2px #f03d37;
    box-shadow: 0 2px 10px -2px #f03d37;
}
a:hover{text-decoration:none;}

.btn .pay-btn:hover{
    text-decoration: none;
}

.count-down-wrapper .time-left .minute, .count-down-wrapper .time-left .second {
    font-size: 32px;
    color: #f03d37;
    margin: 0 5px;
}