<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Show Detail</title>

    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css"/>

    <link rel="stylesheet" type="text/css" href="/css/jquery.seat-charts.css"/>
    <link rel="stylesheet" type="text/css" href="/appcss/mainCSS.css"/>

    <link rel="stylesheet" type="text/css" href="/appcss/showDetailCss.css"/>

    <script type="text/javascript" src="/js/jquery.min.js"></script>
    <script type="text/javascript" src="/js/jquery.seat-charts.min.js"></script>
    <script type="text/javascript" src="/laydate/laydate.js"></script>
    <script type="text/javascript" src="/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/js/vue.min.js"></script>
    <script type="text/javascript" src="/js/vue-resource.js"></script>
    <!--<script type="text/javascript" src="/appjs/shows/bookSeats.js"></script>-->
    <script type="text/javascript" src="/appjs/shows/showDetail.js"></script>

    <link rel="stylesheet" href="/css/toastr.min.css"/>
    <script src="/js/toastr.min.js"></script>
    <script>
        toastr.options = {
            "closeButton": false,
            "debug": false,
            "positionClass": "toast-top-center",
            "onclick": null,
            "showDuration": "300",
            "hideDuration": "1000",
            "timeOut": "5000",
            "extendedTimeOut": "1000",
            "showEasing": "swing",
            "hideEasing": "linear",
            "showMethod": "fadeIn",
            "hideMethod": "fadeOut"
        }
    </script>
</head>
<body>
<div id="showDetailVue">
    <nav class="navbar navbar-default">
        <div class="navbar-header">
            <div class="navbar-brand"><span>REDBUD在线购票</span></div>
            <button type="button" class="navbar-toggle" data-toggle="collapse"
                    data-target="#login-collapse">
                <span class="sr-only">登录选项</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse navbar-right" id="login-collapse" style="padding-right:30px">
            <ul class="nav navbar-nav">
                <li><a href="/showTickets"><span>订票业务</span></a></li>
                <li><a href="/pages/users/myOrders.html"><span>我的订单</span></a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false">{{username}}<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a>会员等级:{{userlevel}}</a></li>
                        <li><a href="/tickets/home">个人信息</a></li>
                        <li><a href="/pages/users/creditShop.html">积分商城</a></li><li><a href="/pages/users/myFavorites.html">我的收藏</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="/">退出登录</a></li>

                    </ul>
                </li>
            </ul>
        </div>
    </nav>


    <div class="wrapper">
        <div class="container">
            <div class="banner">
                <div class="wrapping clearfix">
                    <div class="celeInfo-left">
                        <div class="avatar-shadow">
                            <img class="avatar" v-bind:src=" '/showImages/'+item[0].showid+'.jpg' " />
                            <div class="show-ver"></div>
                        </div>
                    </div>

                    <div class="celeInfo-right clearfix">
                        <div class="show-brief-container">
                            <h3 class="name">{{item[0].showname}}</h3>
                            <ul>
                                <li class="ellipsis">描述：{{item[0].showdescribe}}</li>
                                <li class="ellipsis">类型：{{item[0].showtype}}</li>
                                <li class="ellipsis">时间：{{item[0].showtime |time}}</li>
                                <li class="ellipsis">地点：{{item[1].venuename}}——{{item[1].venuelocation}}</li>
                                <li class="ellipsis">余票：{{item[0].restseats}}</li>
                            </ul>
                        </div>

                        <div class="action-buyBtn">
                            <div class="action clearfix">
                                <a class="wish" v-on:click="addFavorite(item[0].showid)">
                                    <div>
                                        <i class="icon wish-icon"></i>
                                        <span>喜欢</span>
                                    </div>
                                </a>
                            </div>
                            <a class="btn buy" v-on:click="bookShow(item[0].showid)" target="_blank">选座购票</a>
                        </div>

                        <!--<div class="show-stats-back">-->
                            <!--<div class="back-btn">-->
                                <!--<a href="/cinema/13915?poi=65769234&amp;movieId=1198178" data-act="buy-btn-click" data-val="{city_id: 55, cinema_id: 13915}" data-bid="b_wek7vrx9">返回上级</a>-->
                            <!--</div>-->
                        <!--</div>-->
                    </div>
                </div>
            </div>

            <div class="container" id="app">
                <div class="main-content-container clearfix">
                    <div class="main-content">
                        <div class="tab-container">
                            <div class="tab-title-container clearfix">
                                介绍
                            </div>
                            <div class="tab-content-container">
                                <div class="tab-desc tab-content active" data-val="">
                                    <div class="module">
                                        <div class="mod-title">
                                            <h3>剧情简介</h3>
                                        </div>
                                        <div class="mod-content">
                                            <span class="dra">
                                                越狱专家布雷斯林（史泰龙 饰）有三个学生：周树（黄晓明 饰）、卢克和金布罗，三人性格迥异，行事风格大相径庭。在保护表弟马雨声的一次行动中，周树和表弟被一起抓进一座名为“冥府”的超级监狱。布雷斯林为了营救爱徒，在逃出海上监狱“坟墓”之后再陷 “冥府”。这一次监狱难度更高，困难升级，对抗一触即发。师徒几人在监狱中艰难保命。监狱外，同样在追查这座地下监狱的同行德罗萨（戴夫·巴蒂斯塔 饰）与他们并肩作战。最终在狱友和团队的帮助下，三人与人工智能狱长几大反派展开殊死决战，一场大战即将开启。
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="related">
                        <div class="module">
                            <div class="mod-title">
                                <h3>相关演出</h3>
                            </div>
                            <div class="mod-content">
                                <div class="related-shows">
                                    <dl class="show-list">
                                        <dd>
                                            <div class="show-item">
                                                <a href=""  data-act="" data-val="">
                                                    <div class="show-poster">
                                                        <img class="poster-default" src="/images/defaultshow.jpg"/>
                                                        <img src="/images/recommendedshow1.png"/>
                                                    </div>
                                                </a>
                                                <div class="show-ver"></div>
                                            </div>
                                            <div class="channel-detail show-item-title" title="">
                                                <a href=""  data-act="" data-val="">金蝉脱壳</a>
                                            </div>

                                        </dd>

                                        <dd>
                                            <div class="show-item">
                                                <a href=""  data-act="" data-val="">
                                                    <div class="show-poster">
                                                        <img class="poster-default" src="/images/defaultshow.jpg"/>
                                                        <img src="/images/recommendedshow2.png"/>
                                                    </div>
                                                </a>
                                                <div class="show-ver"></div>
                                            </div>
                                            <div class="channel-detail show-item-title" title="">
                                                <a href=""  data-act="" data-val="">边境杀手2</a>
                                            </div>

                                        </dd>

                                        <dd>
                                            <div class="show-item">
                                                <a href=""  data-act="" data-val="">
                                                    <div class="show-poster">
                                                        <img class="poster-default" src="/images/defaultshow.jpg"/>
                                                        <img src="/images/recommendedshow3.png"/>
                                                    </div>
                                                </a>
                                                <div class="show-ver"></div>
                                            </div>
                                            <div class="channel-detail show-item-title" title="">
                                                <a href=""  data-act="" data-val="">冰海沉落</a>
                                            </div>

                                        </dd>

                                        <dd>
                                            <div class="show-item">
                                                <a href=""  data-act="" data-val="">
                                                    <div class="show-poster">
                                                        <img class="poster-default" src="/images/defaultshow.jpg"/>
                                                        <img src="/images/recommendedshow4.png"/>
                                                    </div>
                                                </a>
                                                <div class="show-ver"></div>
                                            </div>
                                            <div class="channel-detail show-item-title" title="">
                                                <a href=""  data-act="" data-val="">死侍2</a>
                                            </div>

                                        </dd>

                                    </dl>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>