<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Book Tickets</title>

    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="/appcss/mainCSS.css"/>

    <!--<link rel="stylesheet" type="text/css" href="/css/jquery.seat-charts.css"/>-->
    <script type="text/javascript" src="/js/jquery.min.js"></script>
    <!--<script type="text/javascript" src="/js/jquery.seat-charts.min.js"></script>-->
    <script type="text/javascript" src="/laydate/laydate.js"></script>
    <script type="text/javascript" src="/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/js/vue.min.js"></script>
    <script type="text/javascript" src="/js/vue-resource.js"></script>
    <script type="text/javascript" src="/appjs/users/bookTickets.js"></script>

    <link rel="stylesheet" href="/css/toastr.min.css"/>
    <script src="/js/toastr.min.js"></script>
    <script>
        laydate.render({
            elem: '#birth' //指定元素
            , type: 'date'
        });
        toastr.options = {
            "closeButton": false,
            "debug": false,
            "positionClass": "toast-top-center",
            "onclick": null,
            "showDuration": "300",
            "hideDuration": "1000",
            "timeOut": "5000",
            "extendedTimeOut": "1000",
            "showEasing": "swing",
            "hideEasing": "linear",
            "showMethod": "fadeIn",
            "hideMethod": "fadeOut"
        }
    </script>
</head>
<body>
<div id="showTickets">
    <nav class="navbar navbar-default">
        <div class="navbar-header">
            <div class="navbar-brand"><span>REDBUD在线购票</span></div>
            <button type="button" class="navbar-toggle" data-toggle="collapse"
                    data-target="#login-collapse">
                <span class="sr-only">登录选项</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse navbar-right" id="login-collapse" style="padding-right:30px">
            <ul class="nav navbar-nav">
                <li><a href="/showTickets"><span>订票业务</span></a></li>
                <li><a href="/pages/users/myOrders.html"><span>我的订单</span></a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false">{{username}}<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a>会员等级:{{userlevel}}</a></li>
                        <li><a href="/tickets/home">个人信息</a></li>
                        <li><a href="/pages/users/creditShop.html">积分商城</a></li><li><a href="/pages/users/myFavorites.html">我的收藏</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="/">退出登录</a></li>

                    </ul>
                </li>
            </ul>
        </div>
    </nav>


    <div class="container body-content">
        <div class="form-group">
            <div class="label col-lg-6 col-md-6 col-sm-12">
                <!--<label>演出列表</label>-->
                <label></label>
            </div>
            <div class="input col-lg-6 col-md-6 col-sm-12">
                <!--<input type="text" class="form-control" placeholder="请输入演出名称/日期/地点..."/>-->
                <div class="col-lg-10 col-md-10 col-sm-8">
                    <input id="searchInput" type="text" class="form-control" placeholder="请输入演出名称/日期/地点..."/>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-4">
                    <button class="btn btn-info" type="button" v-on:click="searchShow">search</button>
                </div>
                <!--<input id="searchInput" type="text" class="form-control" placeholder="请输入演出名称/日期/地点..."/>-->
                <!--<button class="btn btn-info" type="button" v-on:click="searchShow">search</button>-->
            </div>
            <div class="form-group">
                <div class="page-header">
                    演出列表
                </div>

                <div>
                    <div class="col-lg-8 col-md-8">
                        <div v-for="item in arrayData">
                            <!--<div class="col-xs-12 col-lg-12">-->
                            <!--<p></p>-->
                            <!--</div>-->
                            <!--<div class="showShowsInfo col-lg-2 col-md-2"></div>-->
                            <!--<div class="blank col-lg-1 col-md-1 col-sm-1"></div>-->
                            <div class="showShowsPictures col-lg-4 col-md-4 col-sm-6">
                                <img v-bind:src=" '/showImages/'+item[0].showid+'.jpg' " style="width: 150px;height: 180px;padding-top: 15px;"/>
                                <!--<img v-bind:src=" 'E:/testPictures/'+item[0].showid+'.jpg' " style="width: 120px;height: 160px;"/>-->
                                <!--<img src="/images/show1.jpg" style="width: 120px;height: 160px;"/>-->
                            </div>
                            <div class="showShowsInfo col-lg-8 col-md-8 col-sm-6">
                                <h2>[ {{item[1]}} ] {{item[0].showname}}</h2>
                                <ul class="list-group">
                                    <li class="list-inline">描述：{{item[0].showdescribe}}</li>
                                    <li class="list-inline">类型：{{item[0].showtype}}</li>
                                    <li class="list-inline">时间：{{item[0].showtime |time}}</li>
                                    <li class="list-inline">地点：{{item[2]}}</li>
                                    <li class="list-inline">余票：{{item[0].restseats}}</li>
                                </ul>
                            </div>
                            <div class="panel">
                                <div>
                                    <div class="row">
                                        <div class="col-md-4 col-lg-4 col-sm-6">

                                        </div>
                                        <div class="col-md-2 col-lg-2 col-sm-3" >
                                            <span class="btn btn-success" v-on:click="bookShow(item[0].showid)">选座订票</span>
                                        </div>
                                        <div class="col-md-2 col-lg-2 col-sm-3">
                                            <span class="btn btn-warning" v-on:click="randomBookShow(item[0].showid)">随机订票</span>
                                            <!--<span class="btn btn-warning" v-on:click="presentShowDetail(item[0].showid)">演出详情</span>-->
                                        </div>

                                        <div class="col-xs-12">
                                            <p></p>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4">
                        <div>
                            这是固定的推荐列表
                        </div>
                    </div>
                </div>

                <!--<div class="page-header">分页</div>-->
                <div class="pager col-lg-12 col-md-12 col-sm-12" id="pager">
                    <span class="form-inline">
                        <select class="form-control" v-model="pagesize" v-on:change="showPage(pageCurrent,$event,true)">
                            <option value="2">2</option>
                            <option value="4">4</option>
                            <option value="6">6</option>
                        <!--<option value="4">40</option>-->
                        </select>
                    </span>
                    <template v-for="item in pageCount+1">
                        <span v-if="item==1" class="btn btn-default" v-on:click="showPage(1,$event)">
                            首页
                        </span>
                        <span v-if="item==1" class="btn btn-default" v-on:click="showPage(pageCurrent-1,$event)">
                            上一页
                        </span>
                        <span v-if="item==1" class="btn btn-default" v-on:click="showPage(item,$event)">
                            {{item}}
                        </span>
                        <!--<span v-if="item==1 and item &lt; showPagesStart-1" class="btn btn-default disabled">-->
                            <!--...-->
                        <!--</span>-->
                        <!--<span v-if="item>1 and item &le; pageCount-1 and item &ge; showPagesStart and item &le; showPageEnd and item &le; pageCount"-->

                              <!--class="btn btn-default" v-on:click="showPage(item,$event)">-->
                            <!--&lt;!&ndash;<span v-if="item>1 && item<=pageCount-1 && item>=showPagesStart && item<=showPageEnd && item<=pageCount" class="btn btn-default" v-on:click="showPage(item,$event)">&ndash;&gt;-->
                            <!--{{item}}-->
                        <!--</span>-->
                        <!--<span v-if="item==pageCount and item &gt; showPageEnd+1" class="btn btn-default disabled">-->
                        <!--&lt;!&ndash;<span v-if="item==pageCount&&item>showPageEnd+1" class="btn btn-default disabled">&ndash;&gt;-->
                            <!--...-->
                        <!--</span>-->
                        <span v-if="item==1 &amp; item &lt; showPagesStart-1" class="btn btn-default disabled">
                            ...
                        </span>

                        <!--<span v-if="item>1 && item &le; pageCount-1 && item &ge; showPagesStart && item &le; showPageEnd && item &le; pageCount"-->
                        <span v-if="item &gt; 1 &amp; item &lt;= pageCount-1 &amp; item >= showPagesStart &amp; item &lt;= showPageEnd &amp; item &lt;= pageCount"
                              class="btn btn-default" v-on:click="showPage(item,$event)">
                            <!--<span v-if="item>1 && item<=pageCount-1 && item>=showPagesStart && item<=showPageEnd && item<=pageCount" class="btn btn-default" v-on:click="showPage(item,$event)">-->
                            {{item}}
                        </span>
                        <span v-if="item==pageCount &amp; item &gt; showPageEnd+1" class="btn btn-default disabled">
                        <!--<span v-if="item==pageCount&&item>showPageEnd+1" class="btn btn-default disabled">-->
                            ...
                        </span>
                        <span v-if="item==pageCount" class="btn btn-default" v-on:click="showPage(item,$event)">
                            {{item}}
                        </span>
                        <span v-if="item==pageCount" class="btn btn-default" v-on:click="showPage(pageCurrent+1,$event)">
                            下一页
                        </span>
                        <span v-if="item==pageCount" class="btn btn-default" v-on:click="showPage(pageCount,$event)">
                            尾页
                        </span>
                    </template>
                    <span class="form-inline">
                        <input class="pageIndex form-control" style="width:60px;text-align:center" type="text"
                               v-model="pageCurrent" v-on:keyup.enter="showPage(pageCurrent,$event,true)"/>
                    </span>
                    <span>{{pageCurrent}}/{{pageCount}}</span>
                </div>
            </div>
        </div>
        <hr/>

    </div>

</div>



</body>
</html>