<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Show Detail</title>

    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="/css/jquery.seat-charts.css"/>
    <link rel="stylesheet" type="text/css" href="/appcss/mainCSS.css"/>
    <link rel="stylesheet" type="text/css" href="/appcss/showDetailCss.css"/>
    <link rel="stylesheet" type="text/css" href="/appcss/bookseatsCss.css"/>
    <script type="text/javascript" src="/js/jquery.min.js"></script>
    <script type="text/javascript" src="/js/jquery.seat-charts.min.js"></script>
    <script type="text/javascript" src="/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/js/vue.min.js"></script>
    <script type="text/javascript" src="/js/vue-resource.js"></script>
    <script type="text/javascript" src="/appjs/shows/bookSeats.js"></script>


    <link rel="stylesheet" href="/css/toastr.min.css"/>
    <script src="/js/toastr.min.js"></script>
    <script>
        toastr.options = {
            "closeButton": false,
            "debug": false,
            "positionClass": "toast-top-center",
            "onclick": null,
            "showDuration": "300",
            "hideDuration": "1000",
            "timeOut": "5000",
            "extendedTimeOut": "1000",
            "showEasing": "swing",
            "hideEasing": "linear",
            "showMethod": "fadeIn",
            "hideMethod": "fadeOut"
        }
    </script>
</head>
<body>
<div id="bookSeatsVue">
    <nav class="navbar navbar-default">
        <div class="navbar-header">
            <div class="navbar-brand"><span>REDBUD在线购票</span></div>
            <button type="button" class="navbar-toggle" data-toggle="collapse"
                    data-target="#login-collapse">
                <span class="sr-only">登录选项</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse navbar-right" id="login-collapse" style="padding-right:30px">
            <ul class="nav navbar-nav">
                <li><a href="/showTickets"><span>订票业务</span></a></li>
                <li><a href="/pages/users/myOrders.html"><span>我的订单</span></a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false">{{username}}<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a>会员等级:{{userlevel}}</a></li>
                        <li><a href="/tickets/home">个人信息</a></li>
                        <li><a href="/pages/users/creditShop.html">积分商城</a></li><li><a href="/pages/users/myFavorites.html">我的收藏</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="/">退出登录</a></li>

                    </ul>
                </li>
            </ul>
        </div>
    </nav>


    <div class="wrapper">
        <div class="container">
            <div class="banner">
                <div class="wrapping clearfix">
                    <div class="celeInfo-left">
                        <div class="avatar-shadow">
                            <img class="avatar" v-bind:src=" '/showImages/'+showid+'.jpg' " />
                            <div class="show-ver"></div>
                        </div>
                    </div>

                    <div class="celeInfo-right clearfix">
                        <div class="show-brief-container">
                            <h3 class="name">{{showname}}</h3>
                            <ul>
                                <li class="ellipsis">描述：{{showdescribe}}</li>
                                <li class="ellipsis">类型：{{showtype}}</li>
                                <li class="ellipsis">时间：{{showtime |time}}</li>
                                <li class="ellipsis">地点：{{venuename}}——{{location}}</li>
                                <li class="ellipsis">余票：{{restseats}}</li>
                            </ul>
                        </div>

                        <div class="action-buyBtn">
                            <div class="action clearfix">
                                <a class="wish ">
                                    <div>
                                        <i class="icon wish-icon" id="loveIcon"></i>
                                        <span>喜欢</span>
                                    </div>
                                </a>
                            </div>
                            <a class="btn buy" href="" >选座购票</a>
                        </div>

                    </div>
                </div>
            </div>


            <div class="container">
                <div class="main-content-container clearfix">
                    <div class="seat-content">
                        <div class="tab-container">
                            <div class="tab-title-container clearfix">
                                购票
                            </div>
                            <div class="tab-content-container">
                                <div data-val="" class="tab-desc tab-content active">
                                    <div class="module">
                                        <div class="mod-title">
                                            <h3>座位列表</h3></div>

                                        <div class="mod-content">
                                            <div>
                                                <div class="col-lg-2 col-md-2 col-sm-1">
                                                    <!--<div id="legend"></div>-->
                                                </div>
                                                <div id="seat-map" class="col-lg-8 col-md-8 col-sm-10">
                                                    <div id="seat-maps"></div>
                                                </div>
                                                <div class="col-lg-2 col-md-2 col-sm-1">
                                                    <div id="legend"></div>
                                                </div>
                                            </div>
                                            <div class="booking-details">
                                                <ul id="selected-seats">
                                                </ul>
                                                <div>
                                                    <div class="col-lg-2 col-md-2 col-sm-1"></div>
                                                    <div class="col-lg-8 col-md-8 col-sm-10">
                                                        <span>票价总计：￥{{totalPrice | currency }}</span>
                                                        <p></p>
                                                        <button class=" btn btn-success" type="button"  v-on:click="fetchTickets">确认购票</button>
                                                        <p></p>
                                                        <!--<div id="legend"></div>-->
                                                    </div>
                                                    <div class="col-lg-2 col-md-2 col-sm-1"></div>
                                                </div>
                                            </div>


                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>

</body>
</html>