<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8"/>
    <title>Tickets Home</title>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="/appcss/mainCss.css"/>

    <script src="/js/vue.min.js"></script>
    <script src="/js/vue-resource.js"></script>
    <script type="text/javascript" src="/js/jquery.min.js"></script>
    <script type="text/javascript" src="/js/bootstrap.min.js"></script>

    <script src="/appjs/users/home.js"></script>
    <script src="/appjs/users/deleteUser.js"></script>


</head>
<body>
<div id="homeVue">
    <nav class="navbar navbar-default">
        <div class="navbar-header">
            <div class="navbar-brand"><span>REDBUD在线购票</span></div>
            <button type="button" class="navbar-toggle" data-toggle="collapse"
                    data-target="#login-collapse">
                <span class="sr-only">登录选项</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse navbar-right" id="login-collapse" style="padding-right:30px">
            <ul class="nav navbar-nav">
                <li><a href="/showTickets"><span>订票业务</span></a></li>
                <li><a href="/pages/users/myOrders.html"><span>我的订单</span></a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false">{{username}}<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a>会员等级:{{userlevel}}</a></li>
                        <li><a href="/tickets/home">个人信息</a></li>
                        <li><a href="/pages/users/creditShop.html">积分商城</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="/">退出登录</a></li>

                    </ul>
                </li>
            </ul>
        </div>
    </nav>
    <div class="container">
        <table class="table table-striped table-responsive table-bordered" style="text-align: center">
            <div class="row">
                <div class="col-xs-4">
                    <caption>个人信息</caption>
                </div>
                <div class="col-xs-offset-9">
                    <button class="btn btn-danger" data-toggle="modal" data-target="#deleteModal">注销该号</button>
                </div>
            </div>

            <tbody>
            <tr>
                <td>邮箱</td>
                <td>{{useremail}}</td>
            </tr>
            <tr>
                <td>昵称</td>
                <td>{{username}}</td>
            </tr>
            <tr>
                <td>性别</td>
                <td>{{usersex}}</td>
            </tr>
            <tr>
                <td>生日</td>
                <td>{{userbirth}}</td>
            </tr>
            <tr>
                <td>会员等级</td>
                <td>{{userlevel}}</td>
            </tr>
            <tr>
                <td>积分</td>
                <td>{{usercredit}}分|<a href="/pages/users/creditShop.html" class="btn-link">积分商城</a></td>
            </tr>
            <tr>
                <td>累计消费</td>
                <td>{{userconsume | currency}}元</td>
            </tr>
            </tbody>
        </table>


        <div class="row">
            <div class="col-xs-8"></div>
            <div class="col-xs-2">
                <a href="/pages/users/modifyUser.html" class="btn btn-warning">修改信息</a>
            </div>
            <div class="col-xs-2">
                <a href="/pages/users/modifyPass.html" class="btn btn-danger">修改密码</a>
            </div>
        </div>
    </div>
</div>
<!--<div id="deleteVue">-->
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">一旦注销便不可恢复！请慎重选择！</div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <input type="button" onclick="deleteuser()" class="btn btn-danger" value="注销"></input>
            </div>
        </div>
    </div>
</div>
<!--</div>-->


</body>

</html>