<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8"/>
    <title>个人主页</title>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="/appcss/personInfoCss.css"/>
    <link rel="stylesheet" type="text/css" href="/appcss/mainCSS.css"/>

    <script src="/js/vue.min.js"></script>
    <script src="/js/vue-resource.js"></script>
    <script type="text/javascript" src="/js/jquery.min.js"></script>
    <script type="text/javascript" src="/js/bootstrap.min.js"></script>

    <script src="/appjs/users/home.js"></script>
    <script src="/appjs/users/deleteUser.js"></script>
    <script type="text/javascript" src="/laydate/laydate.js"></script>


    <link rel="stylesheet" href="/css/toastr.min.css"/>
    <script src="/js/toastr.min.js"></script>
    <script>
        laydate.render({
            elem: '#birth' //指定元素
            , type: 'date'
        });
        toastr.options = {
            "closeButton": false,
            "debug": false,
            "positionClass": "toast-top-center",
            "onclick": null,
            "showDuration": "300",
            "hideDuration": "1000",
            "timeOut": "5000",
            "extendedTimeOut": "1000",
            "showEasing": "swing",
            "hideEasing": "linear",
            "showMethod": "fadeIn",
            "hideMethod": "fadeOut"
        }
    </script>
</head>
<body>
<div id="homeVue">
    <div>
        <nav class="navbar navbar-default navbar-Favorite">
            <div class="navbar-header">
                <div class="navbar-brand"><img src="/images/weblogo.png" alt="" class="navIcon"/></div>
                <button type="button" class="navbar-toggle" data-toggle="collapse"
                        data-target="#login-collapse">
                    <span class="sr-only">登录选项</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="collapse navbar-collapse navbar-right" id="login-collapse" style="padding-right:30px">
                <ul class="nav navbar-nav">
                    <li><a href="/showTickets"><span>订票业务</span></a></li>
                    <li><a href="/pages/users/myOrders.html"><span>我的订单</span></a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                           aria-expanded="false">{{username}}<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a>会员等级:{{userlevel}}</a></li>
                            <li><a href="/tickets/home">个人信息</a></li>
                            <li><a href="/pages/users/creditShop.html">积分商城</a></li>
                            <li><a href="/pages/users/myFavorites.html">我的收藏</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="/">退出登录</a></li>

                        </ul>
                    </li>
                </ul>
            </div>
        </nav>
    </div>


    <div class="showInfoBody">
        <div class="showInfoLeftMenu">
            <div class="link-group">
                <h4 class="title">
                    我的REDBUD
                </h4>
            </div>
            <!--//订单-->
            <div class="link-group">
                <div class="title">
                    <a href="/pages/users/myOrders.html" class="menuA">我的订单</a>
                </div>
            </div>
            <!--//收藏-->
            <div class="link-group">
                <div class="title">
                    <a href="/pages/users/myFavorites.html" class="menuA" >我的收藏</a>
                </div>
            </div>

            <!--个人主页-->
            <div class="link-group">
                <div class="title">
                    <a href="/tickets/home" class="menuA" style="color: #2F96B4;">个人信息</a>
                </div>
            </div>

        </div>
    </div>

    <div class="orderMenuBlank"></div>

    <div class="showInfoPresentation">
        <div class="favoriteMenu">
            <span class="favoriteMenuTitleBorder"><button class="favoriteMenuTitleActive" id="privateInfo" v-on:click="infoClick">个人信息</button></span>
            <span class="favoriteMenuTitleBorder"><button class="favoriteMenuTitle" id="privateSafe" v-on:click="safeClick">密码安全</button></span>
        </div>
        <div v-show="preInfo">
            <div class="favoriteShowBorder">
                <div class="personInfoPart">
                    <div class="personInfoTextPart">
                        <div class="row personInfoLine">
                            <div class="col-xs-3">邮&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;箱:</div>
                            <div class="col-xs-8">{{useremail}}</div>
                        </div>
                        <div class="row personInfoLine"></div>
                        <div class="row personInfoLine">
                            <div class="col-xs-3">昵&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;称:</div>
                            <div class="col-xs-8"><input type="text" class="personInfoInput" v-model="username"/></div>
                        </div>
                        <div class="row personInfoLine"></div>
                        <div class="row personInfoLine">
                            <div class="col-xs-3">性&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;别:</div>
                            <div class="col-xs-8">
                                <label>
                                    <input type="radio" value="男" name="group" v-model="usersex" class="personRadio"/>
                                    <span class="radioChar">男</span>
                                    <input type="radio" value="女" name="group" v-model="usersex"/>
                                    <span class="radioChar">女</span>
                                </label>
                            </div>
                        </div>
                        <div class="row personInfoLine"></div>
                        <div class="row personInfoLine">
                            <div class="col-xs-3">生&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;日:</div>
                            <div class="col-xs-8"><input type="text" class="personInfoInput" v-model="userbirth" id="birth"/></div>
                        </div>
                        <!--<div class="row personInfoLine"></div>-->
                        <!--<div class="row personInfoLine">-->
                            <!--<div class="col-xs-3">密&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;码:</div>-->
                            <!--<div class="col-xs-8"><a href="" class="btn-link">修改密码</a></div>-->
                        <!--</div>-->
                        <div class="row personInfoLine"></div>
                        <div class="row personInfoLine">
                            <div class="col-xs-3">会员等级:</div>
                            <div class="col-xs-8">{{userlevel}}</div>
                        </div>
                        <div class="row personInfoLine"></div>
                        <div class="row personInfoLine">
                            <div class="col-xs-3">积&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;分:</div>
                            <div class="col-xs-8">{{usercredit}}分|<a href="/pages/users/creditShop.html" class="btn-link">积分商城</a></div>
                        </div>
                        <div class="row personInfoLine"></div>
                        <div class="row personInfoLine">
                            <div class="col-xs-3">累计消费:</div>
                            <div class="col-xs-8">{{userconsume | currency}}元</div>
                        </div>
                        <div class="row personInfoLine"></div>
                        <div class="row personInfoLine"></div>
                        <div class="row personInfoLine"></div>
                        <div class="row personInfoLine">
                            <div class="col-xs-3"></div>
                            <div class="col-xs-8"><button class="btn saveModifyButton btn-info" v-on:click="saveModify">保存</button></div>
                        </div>
                    </div>

                    <div class="personInfoImagePart">
                        <div>
                            <img v-bind:src=" '/showImages/userIcons/'+userEmailNoChar+'.jpg'" alt="你的头像" class="personIcon" id="userIcon"/>
                        </div>
                        <div>
                            <div align="center">
                                <a class="fileinput-button">
                                    <span>选择头像</span>
                                    <input type="file" accept="image/jpeg" class="form-control" v-on:change="selectImage"/>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div v-show="preSafe">
            <div class="favoriteShowBorder">
                <div>
                    <!--<div class="favoriteShow">-->
                    <div class="personInfoPart">

                        <div class="personInfoTextPart">
                            <div class="row personInfoLine">
                                <div class="col-xs-3">邮&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;箱:</div>
                                <div class="col-xs-8">{{useremail}}</div>
                            </div>
                            <div class="row personInfoLine"></div>
                            <div class="row personInfoLine">
                                <div class="col-xs-3">昵&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;称:</div>
                                <div class="col-xs-8">{{username}}</div>
                            </div>
                            <div class="row personInfoLine"></div>
                            <div class="row personInfoLine">
                                <div class="col-xs-3">原&ensp;密&ensp;码:</div>
                                <div class="col-xs-8"><input type="password" class="personInfoInput" v-model="origin"/></div>
                            </div>
                            <div class="row personInfoLine"></div>
                            <div class="row personInfoLine">
                                <div class="col-xs-3">新&ensp;密&ensp;码:</div>
                                <div class="col-xs-8"><input type="password" class="personInfoInput" v-model="newPass"/></div>
                            </div>
                            <div class="row personInfoLine"></div>
                            <div class="row personInfoLine">
                                <div class="col-xs-3">确认密码:</div>
                                <div class="col-xs-8"><input type="password" class="personInfoInput" v-model="newConfirm"/></div>
                                <!--<div class="col-md-2"></div>-->
                            </div>
                            <div class="row personInfoLine"></div>
                            <div class="row personInfoLine"></div>
                            <div class="row personInfoLine"></div>
                            <div class="row personInfoLine">
                                <div class="col-xs-3"></div>
                                <!--<div class="col-md-3"><button class="btn saveModifyButton btn-info">保存</button></div>-->
                                <div class="col-xs-8"><button class="btn saveModifyButton btn-info" v-on:click="modifyPassSubmit">保存</button></div>
                                <!--<div class="col-md-2"></div>-->

                            </div>
                        </div>

                        <div class="personInfoImagePart">
                            <div>
                                <img v-bind:src=" '/showImages/userIcons/'+userEmailNoChar+'.jpg'" alt="你的头像" class="personIcon" />
                            </div>
                            <!--<div>-->
                                <!--<div align="center">-->
                                    <!--<a class="fileinput-button">-->
                                        <!--<span>选择头像</span>-->
                                        <!--<input type="file" accept="image/jpeg" class="form-control" v-on:change="selectImage"/>-->
                                    <!--</a>-->
                                <!--</div>-->
                            <!--</div>-->
                        </div>


                    </div>
                </div>
            </div>

        </div>
    </div>


</div>



</body>

</html>