<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"/>
    <title>REDBUD登录</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/appcss/homeCss.css"/>
    <link rel="stylesheet" href="/appcss/mainCss.css"/>
    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/vue.min.js"></script>
    <script src="/js/vue-resource.js"></script>
    <script src="/appjs/users/login.js"></script>

    <link rel="stylesheet" href="/css/toastr.min.css"/>
    <script src="/js/toastr.min.js"></script>
    <script>
        toastr.options = {
            "closeButton": false,
            "debug": false,
            "positionClass": "toast-top-center",
            "onclick": null,
            "showDuration": "300",
            "hideDuration": "1000",
            "timeOut": "5000",
            "extendedTimeOut": "1000",
            "showEasing": "swing",
            "hideEasing": "linear",
            "showMethod": "fadeIn",
            "hideMethod": "fadeOut"
        }
    </script>
</head>
<body>
<div>
    <nav class="navbar navbar-default" style="height: 100px;">
        <div class="navbar-header">
            <div class="navbar-brand"><img src="/images/logo.png" alt="" /></div>
            <!--<div class="navbar-brand"><h2>REDBUD在线购票</h2></div>-->
        </div>
    </nav>
</div>

<div id="loginVUE">

    <!--<div class="alert alert-danger" role="alert" style="display: none" id="loginError">{{errorMsg}}</div>-->
    <div class="container-fluid homeBack">
        <div class="homeContent">
            <div style="width: 800px;float: left">
                <img src="/images/home.jpg" alt="homePicture" width="700" height="400"/>
            </div>
            <div style="width: 420px;float: left;align-items: center;">
                <div style="height: 400px; margin-left: 10px;  background-color: white">
                    <form v-on:submit.prevent="loginSubmit" class="form-inline formTotal" role="form">
                        <h2 style="font-family: 'Bookman Old Style';text-align: center;padding-top: 10px;padding-left: 10px;">
                            REDBUD</h2>
                        <fieldset>
                            <div class="inputBorderClass">
                                <div class="form-group">
                                    <div class="row">
                                        <input type="text" placeholder="邮箱"
                                               class="inputClass"
                                               v-model="login.email"/>
                                    </div>
                                </div>
                            </div>
                            <div class="inputBorderClass">
                                <div class="form-group">
                                    <div class="row">
                                        <input type="password" placeholder="密码" class="inputClass"
                                               v-model="login.password"/>
                                    </div>
                                </div>
                            </div>
                            <div style="align-items: center">
                                <div class="form-group">
                                    <div class="row" style="text-align: center;align-items: center">
                                        <input type="submit" class="btn-info loginBtn" style="vertical-align: middle;" value="登录"/>
                                    </div>
                                </div>
                            </div>

                            <div class="inputBorderClass">
                                <div class="row">
                                    <div class="col-xs-offset-8">
                                        <a href="/pages/users/register.html" style="font-size: 1.2em;font-family: 'Microsoft Sans Serif'">免费注册</a>
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>

    </div>
</div>

</body>
</html>