<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>支付订单</title>

    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="/appcss/mainCss.css"/>

    <script src="/js/vue.min.js"></script>
    <script src="/js/vue-resource.js"></script>
    <script type="text/javascript" src="/js/jquery.min.js"></script>
    <script type="text/javascript" src="/js/bootstrap.min.js"></script>

    <script src="/appjs/orders/payOrder.js"></script>

    <link rel="stylesheet" href="/css/toastr.min.css"/>
    <script src="/js/toastr.min.js"></script>
    <script>
        toastr.options = {
            "closeButton": false,
            "debug": false,
            "positionClass": "toast-top-center",
            "onclick": null,
            "showDuration": "300",
            "hideDuration": "1000",
            "timeOut": "5000",
            "extendedTimeOut": "1000",
            "showEasing": "swing",
            "hideEasing": "linear",
            "showMethod": "fadeIn",
            "hideMethod": "fadeOut"
        }
    </script>
</head>
<body>
<div id="payOrderVue">
    <nav class="navbar navbar-default">
        <div class="navbar-header">
            <div class="navbar-brand"><span>REDBUD在线购票</span></div>
            <button type="button" class="navbar-toggle" data-toggle="collapse"
                    data-target="#login-collapse">
                <span class="sr-only">登录选项</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse navbar-right" id="login-collapse" style="padding-right:30px">
            <ul class="nav navbar-nav">
                <li><a href="/showTickets"><span>订票业务</span></a></li>
                <li><a href="/pages/users/myOrders.html"><span>我的订单</span></a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false">{{username}}<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a>会员等级:{{userlevel}}</a></li>
                        <li><a href="/tickets/home">个人信息</a></li>
                        <li><a href="/pages/users/creditShop.html">积分商城</a></li><li><a href="/pages/users/myFavorites.html">我的收藏</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="/">退出登录</a></li>

                    </ul>
                </li>
            </ul>
        </div>
    </nav>

    <!--<div class="alert alert-danger" role="alert" style="display: none" id="payOrderError">{{errorMsg}}</div>-->

    <div class="container">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-6">订单号：{{orderId}}</div>
                    <div class="col-xs-6" style="text-align: right">{{orderTime | time}}</div>
                </div>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-xs-1"></div>
                    <!--<div class="col-sm-4">订单时间：{{orderTime | time}}</div>-->
                    <!--<div class="col-sm-3">订单金额：{{orderPrice}}</div>-->
                    <!--<div class="col-sm-3">座位数量：{{orderQuantity}}</div>-->
                    <!--<div class="col-sm-1"></div>-->
                    <div class="col-md-2 col-sm-11 col-xs-11"><img v-bind:src=" '/showImages/'+showId+'.jpg'" style="width: 70%;height: 130px;" id="payShowImage"/></div>
                    <div class="col-md-9 col-xs-12 col-sm-12">
                        <div class="payShowInfo payShowName">{{showName}}</div>
                        <div class="payShowInfo">演出时间：{{showTime | time}}</div>
                        <div class="payShowInfo">场馆名称：{{venueName}}</div>
                        <div class="payShowInfo">场馆地点：{{venueLocation}}</div>
                    </div>
                </div>
                <hr/>
                <div class="row">
                    <div class="col-sm-1"></div>
                    <div class="col-sm-8">票号({{orderQuantity}}张)：{{seats}}</div>
                    <div class="col-sm-2"></div>
                </div>


                <span v-if="hasCoupon">
                    <hr/>
                    <div class="row">
                        <div class="col-sm-1"></div>
                        <div class="col-sm-11">
                            <span>使用折扣券</span>
                        </div>
                    </div>
                    <label class="radio-inline col-xs-offset-1">
                        <input type="radio" name="optionsCoupon" v-model="reducePrice" value="0"/> 不使用折扣券
                    </label>
                    <div v-for="coupon in coupons">
                        <label class="radio-inline col-xs-offset-1">
                            <input type="radio" name="optionsCoupon" v-model="reducePrice" v-bind:value="coupon.price"/> {{coupon.price}}元折扣券
                        </label>
                    </div>
                </span>


                <hr/>
                <div class="row">
                    <div class="col-sm-1"></div>
                    <span style="color: red">请在{{orderDeadline | time}}前支付，否则订单将取消！</span>
                </div>

                <div class="col-xs-offset-5">该订单原价：￥{{originPrice | currency}}</div>
                <div class="col-xs-offset-5">会员折后价：￥{{orderPrice | currency}}</div>
                <div class="col-xs-offset-5">实际支付价：￥{{orderPrice-reducePrice | currency}}</div>

                <hr/>
                <div class="form-group">
                    <label class="control-label col-sm-2">银行账户</label>
                    <div class="col-sm-10 col-lg-3">
                        <input type="text" placeholder="" class="form-control" v-model="accountId"/>
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-sm-2">密码</label>
                    <div class="col-sm-10 col-lg-3">
                        <input type="password" placeholder="" class="form-control" v-model="accountPass"/>
                    </div>
                </div>
            </div>
            <div class="panel-footer">
                <button type="button" class="btn btn-warning col-xs-offset-8" v-on:click="pay">结算</button>
            </div>
        </div>
    </div>



</div>

</body>
</html>