<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>支付订单</title>

    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="/appcss/mainCss.css"/>
    <link rel="stylesheet" type="text/css" href="/appcss/payCss.css"/>
    <link rel="stylesheet" type="text/css" href="/appcss/paySuccessCss.css"/>

    <script src="/js/vue.min.js"></script>
    <script src="/js/vue-resource.js"></script>
    <script type="text/javascript" src="/js/jquery.min.js"></script>
    <script type="text/javascript" src="/js/bootstrap.min.js"></script>

    <script src="/appjs/orders/payOrder.js"></script>

    <link rel="stylesheet" href="/css/toastr.min.css"/>
    <script src="/js/toastr.min.js"></script>
    <script>
        toastr.options = {
            "closeButton": false,
            "debug": false,
            "positionClass": "toast-top-center",
            "onclick": null,
            "showDuration": "300",
            "hideDuration": "1000",
            "timeOut": "5000",
            "extendedTimeOut": "1000",
            "showEasing": "swing",
            "hideEasing": "linear",
            "showMethod": "fadeIn",
            "hideMethod": "fadeOut"
        }
    </script>
</head>
<body>
<div id="payOrderVue">
    <nav class="navbar navbar-default">
        <div class="navbar-header">
            <div class="navbar-brand"><img src="/images/weblogo.png" alt="" class="navIcon"/></div>
            <button type="button" class="navbar-toggle" data-toggle="collapse"
                    data-target="#login-collapse">
                <span class="sr-only">登录选项</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse navbar-right" id="login-collapse" style="padding-right:30px">
            <ul class="nav navbar-nav">
                <li><a href="/showTickets"><span>订票业务</span></a></li>
                <li><a href="/pages/users/myOrders.html"><span>我的订单</span></a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false">{{username}}<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a>会员等级:{{userlevel}}</a></li>
                        <li><a href="/tickets/home">个人信息</a></li>
                        <li><a href="/pages/users/creditShop.html">积分商城</a></li><li><a href="/pages/users/myFavorites.html">我的收藏</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="/">退出登录</a></li>

                    </ul>
                </li>
            </ul>
        </div>
    </nav>

    <!--<div class="alert alert-danger" role="alert" style="display: none" id="payOrderError">{{errorMsg}}</div>-->
    <div class="container" id="app">
        <div class="count-down-wrapper">
        <div class="count-down" data-payleftseconds="900">
            <p class="time-left">
                请在
                <span class="minute" id="minute"></span>
                分钟
                <span class="second" id="second"></span>秒内完成支付
            </p>
            <p class="tip">超时订单会自动取消，如遇支付问题，就当做慈善吧</p>
        </div>
    </div>
        <p class="warning">请仔细核对场次信息，出票后将<span class="attention">无法退票和改签</span></p>
        <table class="order-table">
        <thead>
        <tr>
            <th>影片</th>
            <th>时间</th>
            <th>影院</th>
            <th>座位</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td class="movie-name">《{{showName}}》</td>
            <td class="showtime">{{showTime | time}}</td>
            <td class="cinema-name">{{venueName}}</td>
            <td>
                <span class="hall">座位号</span>
                <div class="seats">
                    <div>
                        <span class=""><i>{{seats}}</i></span>
                    </div>
                    <div>
                    </div>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
        <div class="right">
        <div class="price-wrapper">
            <span>实际支付 :</span>
            <span class="price">{{orderPrice | currency}}</span>
        </div>
        <div><a class="pay-btn" data-order-id="3202568955" data-act="pay-click" data-bid="b_u30afks6" v-on:click="showPay" >确认支付</a></div>

    </div>
    </div>

    <div v-show="payDiv">
        <div class="g-bd" >
            <div class="controls" style="text-align: center;margin-top: -10px;font-size: 1.5em;"></div>
            <div id="pay">
                <div class="payment-container">
                    <div class="controls" style="text-align: center;padding-top:20px;font-size: 1.5em;">银行账户</div>
                    <div >
                        <form  role="form">
                            <fieldset>
                                <div >
                                    <div >
                                        <div >
                                            <span>账户</span>
                                            <span><input class="input_control" type="text" placeholder="账户" v-model="accountId"/></span>
                                        </div>
                                    </div>
                                </div>

                                <div >
                                    <div >
                                        <div >
                                            <span>密码</span>
                                            <span><input class="input_control" type="password" placeholder="密码" v-model="accountPass"/></span>
                                        </div>
                                    </div>
                                </div>
                            </fieldset>
                        </form>
                    </div>
                    <div >

                        <div style="padding-bottom: 30px;">
                            <div class="amount">支付 ¥ <span class="amount-price">{{orderPrice | currency}}</span></div>
                            <div class="payment-submit"><a class="pay-btn" type="button" v-on:click="pay">确认付款</a></div>
                            <div class="payment-back" ><a type="button" v-on:click="cancelPay">取消</a></div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>

</div>


</body>
</html>