<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>检票</title>


    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css"/>

    <link rel="stylesheet" type="text/css" href="/css/jquery.seat-charts.css"/>
    <link rel="stylesheet" type="text/css" href="/appcss/mainCSS.css"/>

    <script type="text/javascript" src="/js/jquery.min.js"></script>
    <script type="text/javascript" src="/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/js/vue.min.js"></script>
    <script type="text/javascript" src="/js/vue-resource.js"></script>
    <script type="text/javascript" src="/js/jquery.seat-charts.min.js"></script>

    <script type="text/javascript" src="/appjs/shows/checkOrder.js"></script>

</head>
<body>


<div id="checkOrderVue">
    <nav class="navbar navbar-default">
        <div class="navbar-header">
            <div class="navbar-brand"><span>逗你玩在线购票</span></div>
            <button type="button" class="navbar-toggle" data-toggle="collapse"
                    data-target="#login-collapse">
                <span class="sr-only">登录选项</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse navbar-right" id="login-collapse" style="padding-right:30px">
            <ul class="nav navbar-nav">
                <li><a href="/pages/venues/postEvent.html"><span>发布活动</span></a></li>
                <li><a href="/pages/venues/postHistory.html"><span>发布历史</span></a></li>
                <li><a href="/pages/venues/sceneTickets.html"><span>现场购票</span></a></li>
                <li><a href="/pages/venues/checkTickets.html"><span>检票入场</span></a></li>
                <li><a href="/pages/venues/venueStatistics.html"><span>信息统计</span></a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false">{{venueName}}<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/tickets/venueHome">场馆信息</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="/venues">退出登录</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </nav>

    <div class="alert alert-danger" role="alert" style="display: none" id="checkOrderError">{{errorMsg}}</div>
    <div class="alert alert-success" role="alert" style="display: none" id="checkOrderSuccess">{{successMsg}}</div>

    <div class="container">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="row">
                    <div class="col-xs-1"></div>
                    <div class="control-label" >输入订单号</div>
                </div>
                <hr/>
                <div class="row">
                    <div class="col-xs-1"></div>
                    <div class="col-lg-5">
                        <div class="input-group">
                            <input type="text" class="form-control" v-model="checkOrderId"/>
                            <span class="input-group-btn">
                                <button class="btn btn-link" type="button" v-on:click="getOrder">查询订单</button>
                            </span>
                        </div>

                    </div>
                </div>
                <hr/>

                <div v-if="showOrder">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-sm-2">订单号：{{order.orderid}}</div>
                                <div class="col-sm-2">表演名称：{{show.showname}}</div>
                            </div>
                            <!--订单号：{{f[0].orderid}}-->
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-sm-1"></div>
                                <div class="col-sm-4">订单时间：{{order.ordertime | time}}</div>
                                <div class="col-sm-3">订单金额：{{order.totalprice | currency}}</div>
                                <div class="col-sm-3">座位数量：{{order.quantity}}</div>
                                <div class="col-sm-1"></div>
                            </div>
                            <hr/>
                            <div class="row">
                                <div class="col-sm-1"></div>
                                <div class="col-sm-4">座位号：{{order.orderseats}}</div>
                                <div class="col-sm-2"></div>
                            </div>
                            <hr/>
                            <div class="row">
                                <div class="col-sm-1"></div>
                                <div class="col-sm-4">表演时间：{{order.showtime| time}}</div>
                                <!--<div class="col-sm-4">表演地点：{{f[2].location}}</div>-->
                            </div>
                            <hr/>
                            <div class="col-xs-offset-5">该订单原价：{{order.originprice | currency}}</div>
                            <div class="col-xs-offset-5">会员折后价：{{order.totalprice | currency}}</div>
                        </div>
                    </div>
                    <hr/>
                </div>
                <div class="row">
                    <div class="col-xs-4"></div>
                    <div class="col-xs-2">
                        <button type="button" class="btn btn-info" v-on:click="checkOrder">CHECK IN</button>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

</body>
</html>