<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>现场购票</title>

    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css"/>
    <script type="text/javascript" src="/js/jquery.min.js"></script>
    <script type="text/javascript" src="/laydate/laydate.js"></script>
    <script type="text/javascript" src="/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/js/vue.min.js"></script>
    <script type="text/javascript" src="/js/vue-resource.js"></script>
    <script type="text/javascript" src="/appjs/venues/bookVenueTickets.js"></script>
</head>
<body>
<div id="showSceneTickets">
    <nav class="navbar navbar-default">
        <div class="navbar-header">
            <div class="navbar-brand"><span>REDBUD在线购票</span></div>
            <button type="button" class="navbar-toggle" data-toggle="collapse"
                    data-target="#login-collapse">
                <span class="sr-only">登录选项</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse navbar-right" id="login-collapse" style="padding-right:30px">
            <ul class="nav navbar-nav">
                <li><a href="/pages/venues/postEvent.html"><span>发布活动</span></a></li>
                <li><a href="/pages/venues/postHistory.html"><span>发布历史</span></a></li>
                <li><a href="/pages/venues/sceneTickets.html"><span>现场购票</span></a></li>
                <li><a href="/pages/venues/checkTickets.html"><span>检票入场</span></a></li>
                <li><a href="/pages/venues/venueStatistics.html"><span>信息统计</span></a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false">{{venueName}}<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/tickets/venueHome">场馆信息</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="/venues">退出登录</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </nav>

    <div class="alert alert-danger" role="alert" style="display: none" id="sceneTicketError">{{errorMsg}}</div>

    <div class="container body-content">
        <div class="form-group">
            <div class="form-group">
                <div class="page-header">
                    可以购买的表演
                </div>

                <div v-for="item in arrayData">
                    <div class="panel panel-success">
                        <div class="panel-heading"><h4>{{item.showname}}</h4></div>
                        <ul class="list-group">
                            <li class="list-group-item">描述：{{item.showdescribe}}</li>
                            <li class="list-group-item">类型：{{item.showtype}}</li>
                            <li class="list-group-item">时间：{{item.showtime |time}}</li>
                            <li class="list-group-item">余票：{{item.restseats}}</li>
                        </ul>
                        <div class="panel-footer">
                            <div class="row">
                                <div class="col-xs-5">

                                </div>
                                <div class="col-xs-1">
                                    <span class="btn btn-success" v-on:click="bookShow(item.showid)">选座订票</span>
                                </div>
                                <div class="col-xs-1">
                                    <span class="btn btn-warning" v-on:click="randomBookShow(item.showid)">随机订票</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!--<div class="page-header">分页</div>-->
                <div class="pager" id="pager">
                    <span class="form-inline">
                        <select class="form-control" v-model="pagesize" v-on:change="showPage(pageCurrent,$event,true)">
                            <option value="2">2</option>
                            <option value="4">4</option>
                            <option value="6">6</option>
                            <!--<option value="4">40</option>-->
                        </select>
                    </span>
                    <template v-for="item in pageCount+1">
                        <span v-if="item==1" class="btn btn-default" v-on:click="showPage(1,$event)">
                            首页
                        </span>
                        <span v-if="item==1" class="btn btn-default" v-on:click="showPage(pageCurrent-1,$event)">
                            上一页
                        </span>
                        <span v-if="item==1" class="btn btn-default" v-on:click="showPage(item,$event)">
                            {{item}}
                        </span>
                        <!--<span v-if="item==1 and item &lt; showPagesStart-1" class="btn btn-default disabled">-->
                        <!--...-->
                        <!--</span>-->
                        <!--<span v-if="item>1 and item &le; pageCount-1 and item &ge; showPagesStart and item &le; showPageEnd and item &le; pageCount"-->

                        <!--class="btn btn-default" v-on:click="showPage(item,$event)">-->
                        <!--&lt;!&ndash;<span v-if="item>1 && item<=pageCount-1 && item>=showPagesStart && item<=showPageEnd && item<=pageCount" class="btn btn-default" v-on:click="showPage(item,$event)">&ndash;&gt;-->
                        <!--{{item}}-->
                        <!--</span>-->
                        <!--<span v-if="item==pageCount and item &gt; showPageEnd+1" class="btn btn-default disabled">-->
                        <!--&lt;!&ndash;<span v-if="item==pageCount&&item>showPageEnd+1" class="btn btn-default disabled">&ndash;&gt;-->
                        <!--...-->
                        <!--</span>-->
                        <span v-if="item==1 &amp; item &lt; showPagesStart-1" class="btn btn-default disabled">
                            ...
                        </span>

                        <!--<span v-if="item>1 && item &le; pageCount-1 && item &ge; showPagesStart && item &le; showPageEnd && item &le; pageCount"-->
                        <span v-if="item &gt; 1 &amp; item &lt;= pageCount-1 &amp; item >= showPagesStart &amp; item &lt;= showPageEnd &amp; item &lt;= pageCount"
                              class="btn btn-default" v-on:click="showPage(item,$event)">
                            <!--<span v-if="item>1 && item<=pageCount-1 && item>=showPagesStart && item<=showPageEnd && item<=pageCount" class="btn btn-default" v-on:click="showPage(item,$event)">-->
                            {{item}}
                        </span>
                        <span v-if="item==pageCount &amp; item &gt; showPageEnd+1" class="btn btn-default disabled">
                        <!--<span v-if="item==pageCount&&item>showPageEnd+1" class="btn btn-default disabled">-->
                            ...
                        </span>
                        <span v-if="item==pageCount" class="btn btn-default" v-on:click="showPage(item,$event)">
                            {{item}}
                        </span>
                        <span v-if="item==pageCount" class="btn btn-default" v-on:click="showPage(pageCurrent+1,$event)">
                            下一页
                        </span>
                        <span v-if="item==pageCount" class="btn btn-default" v-on:click="showPage(pageCount,$event)">
                            尾页
                        </span>
                    </template>
                    <span class="form-inline">
                        <input class="pageIndex form-control" style="width:60px;text-align:center" type="text"
                               v-model="pageCurrent" v-on:keyup.enter="showPage(pageCurrent,$event,true)"/>
                    </span>
                    <span>{{pageCurrent}}/{{pageCount}}</span>
                </div>
            </div>
        </div>
        <hr/>

    </div>

</div>



</body>
</html>