<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="connection.url">jdbc:mysql://localhost:3306/onlinevenue</property>
        <property name="connection.username">root</property>
        <property name="connection.password">Cqm@1997</property>
        <property name="hibernate.current_session_context_class">thread</property>
        <!--<property name="hibernate.current_session_context_class">org.springframework.orm.hibernate5.SpringSessionContext</property>-->
        <property name="dialect">org.hibernate.dialect.MySQL5Dialect</property>
        <property name="show_sql">true</property>
        <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.connection.autocommit">true</property>
        <!-- 自动把实体类与属性映射成数据库中的表与列 -->
        <property name="hbm2ddl.auto">update</property>

        <property name="c3p0.min_size">5</property>
        <property name="c3p0.max_size">30</property>
        <property name="c3p0.time_out">1800</property>
        <property name="c3p0.max_statement">50</property>

        <mapping class="com.ticket.czc.tickets.model.OrdersEntity"/>
        <!--<mapping class="com.ticket.czc.tickets.model.SeatspriceEntity"/>-->
        <mapping class="com.ticket.czc.tickets.model.UsersEntity"/>
        <mapping class="com.ticket.czc.tickets.model.VenuesEntity"/>
        <mapping class="com.ticket.czc.tickets.model.SeatsEntity"/>
        <mapping class="com.ticket.czc.tickets.model.ShowsEntity"/>
        <mapping class="com.ticket.czc.tickets.model.AccountsEntity"/>
        <mapping class="com.ticket.czc.tickets.model.CouponsEntity"/>
        <!-- <property name="connection.username"/> -->
        <!-- <property name="connection.password"/> -->

        <!-- DB schema will be updated if needed -->
        <!-- <property name="hbm2ddl.auto">update</property> -->

    </session-factory>


</hibernate-configuration>