<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8"/>
    <title>积分商城</title>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="/appcss/creditShop.css"/>
    <link rel="stylesheet" type="text/css" href="/appcss/mainCSS.css"/>

    <script type="text/javascript" src="/js/jquery.min.js"></script>
    <script type="text/javascript" src="/js/bootstrap.min.js"></script>
    <script src="/js/vue.min.js"></script>
    <script src="/js/vue-resource.js"></script>
    <script src="/appjs/users/creditShop.js"></script>

    <link rel="stylesheet" href="/css/toastr.min.css"/>
    <script src="/js/toastr.min.js"></script>
    <script>
        toastr.options = {
            "closeButton": false,
            "debug": false,
            "positionClass": "toast-top-center",
            "onclick": null,
            "showDuration": "300",
            "hideDuration": "1000",
            "timeOut": "5000",
            "extendedTimeOut": "1000",
            "showEasing": "swing",
            "hideEasing": "linear",
            "showMethod": "fadeIn",
            "hideMethod": "fadeOut"
        }
    </script>
</head>
<body>
<div id="creditShopVue">

    <nav class="navbar navbar-default">
        <div class="navbar-header">
            <div class="navbar-brand"><img src="/images/weblogo.png" alt="" class="navIcon"/></div>

            <button type="button" class="navbar-toggle" data-toggle="collapse"
                    data-target="#login-collapse">
                <span class="sr-only">登录选项</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse navbar-right" id="login-collapse" style="padding-right:30px">
            <ul class="nav navbar-nav">
                <li><a href="/showTickets"><span>订票业务</span></a></li>
                <li><a href="/pages/users/myOrders.html"><span>我的订单</span></a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false">{{username}}<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a>会员等级:{{userlevel}}</a></li>
                        <li><a href="/tickets/home">个人信息</a></li>
                        <li><a href="/pages/users/creditShop.html">积分商城</a></li>
                        <li><a href="/pages/users/myFavorites.html">我的收藏</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="/">退出登录</a></li>

                    </ul>
                </li>
            </ul>
        </div>
    </nav>


    <div class="container creditShopBorder">

        <div class="creditShopHead">
            <ul class="nav nav-pills">
                <li role="presentation">
                    <button type="button" class="btn changeBtn" v-on:click="showCreditShop" id="dealCredit">积分兑换
                    </button>
                </li>
                <li role="presentation">
                    <button type="button" class="btn changeBtn" v-on:click="showMyCoupon" id="myCoupon">我的优惠券</button>
                </li>
            </ul>
            <div>
                <div class="page-header">
                    <span class="creditInfo" style="display: none">尊敬的用户{{username}}({{userEmail}}),您当前的积分为{{userCredit}}分</span>
                    <span class="creditInfo">您当前的剩余积分为{{userCredit}}分</span>
                </div>
            </div>
        </div>


        <div v-show="showShop">
            <div class="col-md-6 stampBorder">
                <div class="stamp stamp01">
                    <div class="par"><p>REDBUD折扣券</p><sub class="sign">￥</sub><span>100.0</span><sub>优惠券</sub>
                        <p>1200积分可以兑换</p></div>
                    <div class="copy">副券
                        <hr/>
                        <a type="button" class="btn btn-default" v-on:click="getCoupon(100)">领取</a></div>
                    <!--<i></i>-->
                </div>
            </div>
            <!--<hr/>-->
            <div class="col-md-6 stampBorder">
                <div class="stamp stamp03">
                    <div class="par"><p>REDBUD折扣券</p><sub class="sign">￥</sub><span>50.0</span><sub>优惠券</sub>
                        <p>600积分可以兑换</p></div>
                    <div class="copy">副券
                        <hr/>
                        <a type="button" class="btn btn-default" v-on:click="getCoupon(50)">领取</a></div>
                    <!--<i></i>-->
                </div>
            </div>
            <!--<hr/>-->
            <div class="col-md-6 stampBorder">
                <div class="stamp stamp04">
                    <div class="par"><p>REDBUD折扣券</p><sub class="sign">￥</sub><span>30.0</span><sub>优惠券</sub>
                        <p>360积分可以兑换</p></div>
                    <div class="copy">副券
                        <hr/>
                        <a type="button" class="btn btn-default" v-on:click="getCoupon(30)">领取</a></div>
                    <!--<i></i>-->
                </div>
            </div>
            <!--<hr/>-->
            <div class="col-md-6 stampBorder">
                <div class="stamp stamp02">
                    <div class="par"><p>REDBUD折扣券</p><sub class="sign">￥</sub><span>10.0</span><sub>优惠券</sub>
                        <p>120积分可以兑换</p></div>
                    <div class="copy">副券
                        <hr/>
                        <a type="button" class="btn btn-default" v-on:click="getCoupon(10)">领取</a></div>
                    <!--<i></i>-->
                </div>
            </div>

        </div>

        <div class="noCouponAlert">
            <div v-show="showCoupon">
                <div v-if="hasCoupons">
                    <div v-for="myCoupon in myCoupons">
                        <div class="col-md-6 stampBorder">
                            <div v-if="myCoupon.price === 100">
                                <div class="stamp stamp01">
                                    <div class="par"><p>REDBUD折扣券</p><sub
                                            class="sign">￥</sub><span>{{myCoupon.price}}.0</span><sub>优惠券</sub>
                                        <p>永久有效</p></div>
                                    <div class="copy">
                                        <hr/>
                                        <h2>{{myCoupon.couponquantity}}张</h2></div>
                                    <!--<i></i>-->
                                </div>
                            </div>
                            <div v-else-if="myCoupon.price === 50">
                                <div class="stamp stamp03">
                                    <div class="par"><p>REDBUD折扣券</p><sub
                                            class="sign">￥</sub><span>{{myCoupon.price}}.0</span><sub>优惠券</sub>
                                        <p>永久有效</p></div>
                                    <div class="copy">
                                        <hr/>
                                        <h2>{{myCoupon.couponquantity}}张</h2></div>
                                    <!--<i></i>-->
                                </div>
                            </div>
                            <div v-else-if="myCoupon.price === 30">
                                <div class="stamp stamp04">
                                    <div class="par"><p>REDBUD折扣券</p><sub
                                            class="sign">￥</sub><span>{{myCoupon.price}}.0</span><sub>优惠券</sub>
                                        <p>永久有效</p></div>
                                    <div class="copy">
                                        <hr/>
                                        <h2>{{myCoupon.couponquantity}}张</h2></div>
                                    <!--<i></i>-->
                                </div>
                            </div>
                            <div v-else>
                                <div class="stamp stamp02">
                                    <div class="par"><p>REDBUD折扣券</p><sub
                                            class="sign">￥</sub><span>{{myCoupon.price}}.0</span><sub>优惠券</sub>
                                        <p>永久有效</p></div>
                                    <div class="copy">
                                        <hr/>
                                        <h2>{{myCoupon.couponquantity}}张</h2></div>
                                    <!--<i></i>-->
                                </div>
                            </div>

                        </div>
                        <!--<div class="stamp stamp02">-->
                        <!--<div class="par"><p>REDBUD折扣券</p><sub class="sign">￥</sub><span>{{myCoupon.price}}</span><sub>优惠券</sub></div>-->
                        <!--<div class="copy"><hr/><h2>{{myCoupon.couponquantity}}张</h2></div>-->
                        <!--<i></i>-->
                        <!--</div>-->
                        <!--<hr/>-->
                    </div>
                </div>
                <div v-else>
                    <div class="jumbotron">
                        <div class="container">
                            <p>您暂时没有优惠券，赶紧去兑换吧！</p>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>


</div>

</body>
</html>