<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>我的订单</title>

    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="/css/font-awesome.min.css"/>
    <link rel="stylesheet" type="text/css" href="/appcss/favoriteCss.css"/>

    <!--<link rel="stylesheet" type="text/css" href="/css/jquery.seat-charts.css"/>-->
    <script type="text/javascript" src="/js/jquery.min.js"></script>
    <script type="text/javascript" src="/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/js/vue.min.js"></script>
    <script type="text/javascript" src="/js/vue-resource.js"></script>
    <script type="text/javascript" src="/appjs/users/myFavorite.js"></script>
    <!--<script type="text/javascript" src="/appjs/users/myOrders.js"></script>-->

    <link rel="stylesheet" href="/css/toastr.min.css"/>
    <script src="/js/toastr.min.js"></script>
    <script>
        toastr.options = {
            "closeButton": false,
            "debug": false,
            "positionClass": "toast-top-center",
            "onclick": null,
            "showDuration": "300",
            "hideDuration": "1000",
            "timeOut": "5000",
            "extendedTimeOut": "1000",
            "showEasing": "swing",
            "hideEasing": "linear",
            "showMethod": "fadeIn",
            "hideMethod": "fadeOut"
        }
    </script>
</head>
<body>
<div id="myOrdersVue">
    <div>
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="navbar-header">
            <div class="navbar-brand"><span>REDBUD在线购票</span></div>
            <button type="button" class="navbar-toggle" data-toggle="collapse"
                    data-target="#login-collapse">
                <span class="sr-only">登录选项</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
            <div class="collapse navbar-collapse navbar-right" id="login-collapse" style="padding-right:30px">
            <ul class="nav navbar-nav">
                <li><a href="/showTickets"><span>订票业务</span></a></li>
                <li><a href="/pages/users/myOrders.html"><span>我的订单</span></a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false">{{username}}<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a>会员等级:{{userlevel}}</a></li>
                        <li><a href="/tickets/home">个人信息</a></li>
                        <li><a href="/pages/users/creditShop.html">积分商城</a></li><li><a href="/pages/users/myFavorites.html">我的收藏</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="/">退出登录</a></li>

                    </ul>
                </li>
            </ul>
        </div>
        </nav>
    </div>

    <div class="showInfoBody">
        <div class="showInfoLeftMenu">
            <div class="link-group">
                <h4 class="title">
                    我的REDBUD
                </h4>
            </div>
            <!--//订单-->
            <div class="link-group">
                <div class="title">
                    <a href="" class="menuA" style="color: #2F96B4;">我的订单</a>
                </div>
            </div>
            <!--//收藏-->
            <div class="link-group">
                <div class="title">
                    <a href="/pages/users/myFavorites.html" class="menuA" >我的收藏</a>
                </div>
            </div>
            <div class="link-group">
                <div class="title">
                    <a href="/tickets/home" class="menuA">个人信息</a>
                </div>
            </div>
        </div>
    </div>
    <div class="orderMenuBlank"></div>
    <div class="showInfoPresentation">
        <div v-show="isAll">
            <div v-if="allLen">
                <div v-for="item in allOrders">
                    <!--每个演出-->
                    <div class="favoriteShowBorder">
                        <div class="favoriteShow">
                            <div class="row">
                                <div class="col-xs-3">
                                    <img id="favoriteImg" v-bind:src=" '/showImages/'+item[1].showid+'.jpg'" alt="" style="width: 133px;height: 176px;"/>
                                </div>
                                <div class="col-xs-6 showDetail">
                                    <h2>{{item[1].showname}}</h2>
                                    <ul class="list-group">
                                        <li class="list-inline">时间：{{item[1].showtime| time}}</li>
                                        <li class="list-inline">地点：{{item[2].location]}}</li>
                                        <li class="list-inline">付款：{{item[0].totalprice}}</li>
                                        <li class="list-inline">座位号：{{item[0].orderseats}}</li>
                                    </ul>
                                </div>
                                <div class="col-xs-2 favoriteOption">
                                    <a class="favoriteOptionDetail">查看详情</a>
                                    <!--<a v-on:click="getDetail(item.showid)" class="favoriteOptionDetail">查看详情</a>-->
                                </div>
                                <div class="col-xs-1 favoriteOption2">
                                    <span><i class="fa fa-trash fa-2x"></i></span>
                                    <!--<a v-on:click="cancelFavorite(item.showid)"><i class="fa fa-trash fa-2x"></i></a>-->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div v-else>
                <div class="favoriteShowBorder">
                    <div class="favoriteShow">
                        <div class="row">
                            <div class="col-xs-3">
                            </div>
                            <div class="col-xs-6 showDetail" style="text-align: center;padding-top: 50px;">
                                <h2>还没有任何订单</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>






</div>

</body>
</html>